@import "css/mixins/bootstrap/variables.less";
@import "css/mixins/bootstrap/mixins.less";
@import "css/mixins/layout.less";
@baseUrl: "../theme";
.webkitScrollbar();

// THEME VARIABLES
// --------------------------------------------------

@internalWidth:     1600px;
@internalHeight:    1080px;



// EFFECTS
// --------------------------------------------------

a {
    display: inline-block;
    -webkit-transition: -webkit-transform ease-in-out;
    -moz-transition: -moz-transform ease-in-out;
    -o-transition: -o-transform ease-in-out;
    transition: transform ease-in-out;
}

a:active, a.emulate-active {
    .scale(1.2);
}



// GENERAL LAYOUT
// --------------------------------------------------


#main {
    .centralizedCoveringBackground;
    .box(vertical,center, center);
}


// Sets the outer most dimensions in which
// all the content is held i.e. header, pages etc.
#content-container {
    position: relative;
    .centralizedCoveringBackground;
    .size(@internalHeight, @internalWidth);
}

#menu-region {

    // Up the z-index so that tapped buttons will scale above the items
    z-index: 1;
}

#menu-categories-region, #menu-currencies-region {
    display: inline-block;
    text-align: center;

    .menu-section {
        display: inline-block;
    }

    .menu-item {
        // Defaults

        .menu-item-label {
            .background-size(100%);
            .size(90px, 270px);
            display: inline-block;
            .box(vertical, center);
        }
    }
}

#leave-store {

    // default styles
    position: absolute;
    .box(vertical, center, center);
    .centralizedBackground;

    // These are default, but are overridden in the theme
    // to showcase the ability to change them
    .offset(0, 0);
    .size(90px, 270px);
}

.balances {

    // Defaults
    position: absolute;

    .balance-container {
        display: inline-block;
        vertical-align: middle;
    }
}


@itemsContainerVerticalMargin: 30px;
@itemsContainerHorizontalMargin: 50px;

#items-container {

    // Defaults
    position: absolute;
    top: 180px;
    width: @internalWidth - (2 * @itemsContainerHorizontalMargin);
    margin: @itemsContainerVerticalMargin @itemsContainerHorizontalMargin;

    .item-container, .categories, .currencies, .offers, .category, .currency {
        background-position: center;
        display: inline-block;
    }
}



// SINGLE LIST ITEMS - VIRTUAL GOODS
// --------------------------------------------------

@itemHeight: 270px;
@itemWidth: 360px; // Should be the same as in the JS.

.item {

    // Mandatory
    display: inline-block;

    // Defaults
    .size(750px, 400px);
    .background-size(100%);
    .centralizedBackground;

    // Local variables
    @buyImgWidth: 270px;


    // Item content (container of description, price, balance, buy button)
    .content {
        position: relative;
        text-align: center;

        // Fill the parent completely by default
        // This makes adding padding difficult
        .square(100%);
        .background-size(100%);
    }

    .item-name, .item-description, .item-price, .item-balance, .item-amount {

        // Default styles.  Can be overridden in theme
        position: absolute;
        width: 100%;
        .hyphens;
        .box(vertical, center, center);

        // So that it'll be above the item image and the background image
        z-index: 1;
    }

    .item-image {

        // Defaults
        position: absolute;
        .offset(0,0);
        .square(100%);
    }

    .item-currency-image {
        display: inline-block;
        vertical-align: middle;
    }

    .buy {

        // Defaults
        position: absolute;
        width: 100%;
        .offset(500px, 0);

        img {
            width: @buyImgWidth;
        }
    }

    // Add specific styling for equippable items
    &.equippable {
        .equip, .active{
            img {
                width: @buyImgWidth;
            }

            // State: not owned
            display: none;
        }

        // State: owned, not equipped
        &.owned {
            .equip {
                display: block;
            }
            .buy {
                display: none;
            }

            // State: owned and equipped
            &.equipped {
                .equip {
                    display: none;
                }
                .active {
                    display: block;
                }
            }
        }
    }
}


// MODAL DIALOG
// --------------------------------------------------

.modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .box(horizontal, center, center);
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}

.modal-container.modal-loading .actions {
    display: none;
}

.dialog {
    .box(vertical, center);
    text-align: center;
    width: 1080px;
    height: 720px;

    .centralizedCoveringBackground;

    h1 {
        .box-flex(2);
        .box(vertical, center, center);
        padding: 30px;
        font-size: 28px;
        font-weight: bold;
    }

    .actions {
        .box-flex(1);
        margin-top: 10px;
        img {
            .size(200px, 500px);
            cursor: pointer;
        }
    }
}
