{{#if owned}}
<a class="owned">
	<img src="{{imgFilePath}}">
</a>
{{else}}
<a>
	<img src="{{imgFilePath}}">
</a>
{{/if}}
{{#if owned}}
<img src="{{images.purchasedIndicatorImage}}" class="owned-indicator">
{{/if}}
