<a>
    <img src="{{imgFilePath}}" class="visual">
    <div class="price font-face-2">
        <h1 class="item-name">{{name}}</h1>
        <h2 class="item-description">{{description}}</h2>
    </div>
    <img src="{{itemSeparator}}" class="separator">
</a>
