<div class="modal">
    <div class="dialog font-face-2">
        <h1>{{text}}</h1>
        <div class="actions ">
            <a><img src="{{noButton}}" class="cancel"></a>
            <a><img src="{{yesButton}}" class="buy-more"></a>
        </div>
    </div>
</div>
