{{fontFaceStylesheet fonts}}
<div id="content-container">
	<div class="header">
        <a id="leave-store" class="font-face-1">{{global.backButton.backButtonText}}</a>
		<div id="menu-region" class="font-face-1"></div>
	</div>
	<div class="items-container">
		<div data-iscroll="true">
		</div>
	</div>
    <div class="balances font-face-2">
		{{#each currencies}}
            <div class="balance-container">
                <label class="balance-label">{{this.balance}}</label>
                <img class="balance-currency-image" src="{{this.imgFilePath}}">
            </div>
		{{/each}}
    </div>
</div>