<div class="modal">
    <div class="dialog">

        <h1 class="title">{{title}}</h1>
        <div class="description">{{description}}</div>

        <div class="actions">
            <img src="{{noButton}}" class="cancel">
            <img src="{{yesButton}}" class="buy-more">
        </div>
    </div>
</div>
