*.DS_Store

muffinRush/ios-example/MuffinRush.xcodeproj/project.xcworkspace/xcuserdata/refaelos.xcuserdatad/WorkspaceSettings.xcsettings

*workspace.xml
*out/
*gen/
templates/**/deploy/
node_modules/

*xcuserdata


# Customer stores
themes/zdtm
themes/slendermansForest
themes/jma



