*.DS_Store

muffinRush/ios-example/MuffinRush.xcodeproj/project.xcworkspace/xcuserdata/refaelos.xcuserdatad/WorkspaceSettings.xcsettings

*workspace.xml
*out/
*gen/

muffinRush/ios-example/MuffinRush.xcodeproj/project.xcworkspace/xcuserdata/refaelos.xcuserdatad/UserInterfaceState.xcuserstate



