.DS_Store

muffinRush/ios-example/MuffinRush.xcodeproj/project.xcworkspace/xcuserdata/refaelos.xcuserdatad/WorkspaceSettings.xcsettings

*workspace.xml
*out/

muffinRush/ios-example/MuffinRush.xcodeproj/project.xcworkspace/xcuserdata/refaelos.xcuserdatad/UserInterfaceState.xcuserstate

muffinRush/android-example/.idea/workspace.xml

muffinRush/ios-example/.DS_Store
