<img src="{{imgFilePath}}" class="item-image">
<div class="item-name font-face-1">{{name}}</div>
<div class="item-description font-face-2">{{description}}</div>
<div class="item-price font-face-2">${{price}}</div>
<div class="item-owned font-face-2">Owned</div>
