<div class="modal">
    <div class="dialog font-face-2">
        <h1>{{text}}</h1>
        <div class="actions">
            <img src="{{noButton}}" class="cancel">
            <img src="{{yesButton}}" class="buy-more">
        </div>
    </div>
</div>
