<div class="modal">
    <div class="dialog">
        <h1>Not Enough Coins</h1>
        <div class="actions" style="display: none">
            <img src="{{noButton}}" class="cancel">
            <img src="{{yesButton}}" class="buy-more">
        </div>
    </div>
</div>
